* {
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.4px;
}

@font-face {
    font-family: 'Belanosima', sans-serif;
    src: local("Belanosima"),
      url("assets/fonts/Belanosima-Regular.ttf") format("truetype") local("Belanosima bold") url("assets/fonts/Belanosima-Bold.ttf") format("truetype") ;
  }

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    align-items: stretch;
    color: #634100;
    font-family: 'Belanosima', sans-serif;
}

img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
}

.header {
    background-color: cornflowerblue;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
    color: wheat;
    margin: 2rem;
}

.header h2 {
    font-size: 1.5rem;
    color: white;
    margin: 1.3rem;
}

.main {
    background-color: #E4F0FF;
    min-height: 400px;
}

.main button {
    display: block;
    background-color: #4C6293;
    color: white;
    padding: 20px 40px;
    font-weight: 600;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #4C6293;
}

.main button:hover {
    cursor: pointer;
    box-shadow: inset 1px 1px 5px 1px #a4afc78f;
}

.results {
    max-width: 992px;
    margin: 20px auto;
    text-align: center;
}

.results p {
    font-size: 1.1rem;
    line-height: 1.7;
}

.container {
    max-width: 992px;
    background-color: #E4F0FF;
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    align-items: stretch;
    justify-items: center;
    grid-gap: 10px;
    padding: 20px 0;
}

.container img {
    width: 310px;
    height: 310px;
    border: 3px solid transparent;
}

.container img:hover {
    border: 3px #634100 solid;
    /* z-index: 3;
    min-width: 400px;
    height: auto;
    max-height: 450px;
    position: absolute;
    top: -10%;
    left: -200px; */
}

.footer {
    background-color: #4C6293;
    color: wheat;
    text-align: center;
    padding: 30px;
}

div:has(canvas){
    max-width: 992px;
    margin: 20px auto;
}